# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Models & Data (Large Files)
*.pth
*.h5
*.weights
temp.jpg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.trae/

# Extension
extension/deepshield/
extension/verishield/
